html {
    box-sizing: border-box;
    height: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a {
    color: coral;
}

body {
    background: #FFEEEE;
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);
    background: linear-gradient(to right, #DDEFBB, #FFEEEE);
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
    color: goldenrod;
}

h1 img {
    width: 48px;
}

main {
    align-self: center;
    flex-grow: 1;
    width: 100%;
    max-width: 97%;
}

footer {  
    padding: 5px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.new-book-btn {
    align-self: center;
    margin: 10px;
    padding: 7px;
    border: 1px solid brown;
    background-color: transparent;
}

.new-book-btn:hover {
    background-color: rgba(255, 127, 80, 0.712);
}

.new-book-btn:active {
    background-color: coral;
}

.bk-container {
    background-color: rgba(255, 192, 203, 0.288);
    height: 100%;
}